---

const {...event} = Astro.props;


---

<div x-data=`{favori: false}` class="mt-10 border" :class="{'bg-yellow-100': favori}">
    <h2>{event.title}</h2>
    <img src={event.img} alt={event.imgAlt} class="w-64 h-64 object-cover" />
    <p>{event.date}</p>
    <p>{event.excerpt}</p>
    <p set:html={event.description}></span></p>
    <button @click="favori = !favori" class="bg-slate-200 rounded-2xl p-3">Favori</button>
</div>

